/*Museo Sans*/
@font-face {
	font-family: 'Museo Sans';
	src: url('..fonts/MuseoSans/MuseoSansCyrl-500.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-500'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*../fonts/Avenir/Avenir*/
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Roman.eot');
    src: local('../fonts/Avenir/Avenir Roman'), local('Avenir-Roman'),
        url('../fonts/Avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/Avenir-Roman.woff2') format('woff2'),
        url('../fonts/Avenir/Avenir-Roman.woff') format('woff'),
        url('../fonts/Avenir/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
