*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Header*/
.header {
    background-color: #f7fdfe;
}

.header-inner {
    width: 100%;
    max-width: 970px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 30px 15px;
    margin: 0 auto;
}

.header-logo {
    color: #82868f;
    font-family: "Museo Sans";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin: auto 0;
}

/*Nav*/
.nav-item {
    width: 124px;
    height: 40px;
    display: inline-block;
    border-radius: 30px;
    text-transform: uppercase;
    color: #82868f;
    font-family: "Museo Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.35px;
    margin: 0 0 0 25px;
    transition: all .2s linear;
}

.nav-item:hover,
.nav-item.active {
    background-color: #0ebfdd;
    color: #fff;
}

/*Burger-Menu*/
.burger-menu {
    display: none;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    padding: 10px 0;
}

.burger-menu-item {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #82868f;
    font-size: 0;
    color: transparent;
    margin: auto;
}

.burger-menu-item::before,
.burger-menu-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #82868f;
    transition: transform .1s linear;
}

.burger-menu-item::before {
    top: -8px;
}

.burger-menu-item::after {
    top: 8px;
}

.burger-menu.active .burger-menu-item {
    background: 0;
}

.burger-menu.active .burger-menu-item::before {
    transform-origin: left top;
    transform: rotate(45deg)
    translateX(-3px);
}

.burger-menu.active .burger-menu-item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg)
    translateX(-3px);
}

.burger-menu.active .nav {
    display: block;
}

.burger-menu.active .nav-item {
    width: 100%;
}

/*Section*/
.section-header {
    text-align: center;
    max-width: 835px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    color: #f7fdfe;
    font-family: "Avenir";
    font-size: 44px;
    font-weight: 800;
}

.section-text {
    color: #f7fdfe;
    font-family: "Avenir";
    font-size: 20px;
    font-weight: 500;
    margin: 32px 0 0 0;
}

/*Mission*/
.mission {
    background: url(../images/mission-section/mission-background.png);
    background-size: cover;
    padding: 400px 0 80px 0;
}

/*About*/
.about {
    margin: 65px 0 0 0;
}

.about .section-title {
    color: #0ebfdd;
}

.about .section-text {
    color: #45494d;
}

/*Team*/
.team {
    background-color: #0ebfdd;
    padding: 60px 0 65px;
    margin: 60px 0 0;
}

.team-inner {
    max-width: 630px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 105px auto;
    padding: 0 20px;
}

.team-item {
    text-align: center;
}

.team-item-img img {
    display: inline-block;
    max-width: 100%;
}

.team-item-title {
    color: #f7fdfe;
    font-family: "Avenir";
    font-size: 18px;
    font-weight: 800;
}

.team-item-text {
    color: #f7fdfe;
    font-family: "Avenir";
    font-style: oblique;
    font-size: 16px;
    font-weight: 400;
}

.team-btn {
    display: block;
    background-color: #0ebfdd;
    border-radius: 50px;
    border: 1px solid #f9fbfb;
    padding: 15px 35px;
    color: #f7fdfe;
    font-family: "Museo Sans";
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    transition: all .2s linear;
}

.team-btn:hover {
    background-color: #fff;
    color: #0ebfdd;
}

/*Map*/
iframe {
    display: block;
}

/*Footer*/
.footer {
    background-color: #45494d;
}

.footer-inner {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-about {
    width: 225px;
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

.footer-about-item {
    color: #d7dee4;
    font-family: "Museo Sans";
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.footer-social {
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.footer-social-item {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #d7dee4;
    border-radius: 50%;
    text-decoration: none;
}

.footer-social-item img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);
}

/*Footer Copyright*/
.footer-copyright {
    text-align: right;
    border-top: 1px solid #73767a;
    padding: 15px 0;
    color: #73767a;
    font-family: "Museo Sans";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3px;
}

.copyright-divider {
    color: #73767a;
    margin: 0 15px;
}

/*Media*/

@media (max-width: 992px) {
    /*Header*/
    .header-inner {
        padding: 20px 10px;
    }

    /*Nav*/
    .nav-item {
        margin: 0;
    }
}

@media (max-width: 768px) {
    /*Header*/
    .header-inner {
        padding: 15px;
    }

    /*Nav*/
    .nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #f7fdfe;
    }

    .nav-item {
        display: block;
        margin: 0 auto 10px;
    }

    /*Burger-Menu*/
    .burger-menu {
        display: block;
    }
}

@media (max-width: 550px) {
    /*Section*/
    .section-title {
        font-size: 38px;
    }
    
    .team .section-title {
        font-size: 44px;
    }

    .section-text {
        font-size: 18px;
        margin: 15px 0 0 0;
    }

    /*About*/
    .about {
        margin: 40px 0 0 0;
    }

    /*Team*/
    .team-inner {
        margin: 40px auto 40px;
    }

    .team-item {
        width: 100%;
        margin-bottom: 20px;
    }

    /*Footer*/
    .footer-about {
        width: 210px;
    }

    /*Footer Copyright*/
    .footer-copyright {
        text-align: center;
    }

    .copyright-divider {
        margin: 0 5px;
    }
}

@media (max-width: 480px) {
    .team {
        padding: 40px 0 55px;
    }

    .section-title {
        font-size: 35px;
    }

    .team .section-title {
        font-size: 44px;
    }

    .section-text {
        margin: 10px 0 0 0;
    }

    /*About*/
    .about {
        margin: 30px 0 0 0;
    }

    /*Footer*/
    .footer-about {
        width: 100%;
        justify-content: center;
        margin: 20px 0;
    }

    .footer-social {
        width: 100%;
        justify-content: center;
        margin: 0 0 15px;
    }

    .footer-about-item {
        margin-right: 10px;
    }

    .footer-social-item {
        margin-right: 10px;
    }
}

